<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.xrb.clouduser.mapper.UserMapper">
    <select id="login" resultType="cn.xrb.clouduser.entity.User">
        select * from user where username = #{userInfo.username} and password = #{userInfo.password};
    </select>
    <select id="findUsernameByEmai" resultType="string">
        select username from user where email = #{userInfo.email};
    </select>
    <select id="findPasswordByEmail" resultType="java.lang.String">
        select password from user where email = #{userInfo.email} and phone=#{userInfo.phone};
    </select>
</mapper>
